



.swiper {
  width: 100%;
  height: 100%;
  background: #000;
  z-index: -10;
}

.swiper-slide {
  font-size: 18px;
  color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 60px;
}

.parallax-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 130%;
  height: 100%;
  background-position: center;
}


.swiper-slide .text {
  max-width: 400px;
  line-height: 1.4;
}